/* ================= Start About Section ================= */

.about-section{
    background-color: #081b29;
    min-height: 100vh;
    color: white;
}

#about-body{
    width: 85%;
    /* margin: auto; */
}

.heading{
    /* margin:  0 !important;
    padding: 0 !important; */
    font-weight: 400;
    font-size: 55px;
    font-weight: 600;
    color: white
}

.uderline{
    height: 3px;
    width: 200px;
    background-image: linear-gradient(to right, rgb(0, 238, 255), rgb(130, 153, 158));
    /* border-radius: 10px; */
    margin: auto;
}

.about-content p{
    font-size: 25px;
    font-weight: 400;
    text-align: justify;
    /* padding: 5px; */
}



/* Right Side (About Text Div) */
.about-right {
    /* padding: 50px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ================= End About Section ================= */