*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.navbar{
    background: rgb(17, 62, 94);
}

.nav-body{
    width: 85%;
    /* margin: 0 !important; */
    padding: 0 !important;
}

.navbar-nav .nav-link {
    transition: all 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: rgb(0, 238, 255) !important;
}

.navbar-toggler {
    border: none !important;
    background: transparent !important;
    padding: 0.25rem 0.5rem;
    outline: none !important;
    box-shadow: none !important;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.nav-item{
    /* font-size: 35px; */
    font-weight: 450;
    padding-left: 10px;
}

.resume-btn{
    background-color: rgb(0, 238, 255) !important;
    height: 38px;
    font-weight: 400 !important;
    display: flex;
    color: black !important;
}

.resume-btn:hover{
    background-color: transparent !important;
    color: rgb(0, 238, 255) !important;
    border: 1px solid rgb(0, 238, 255) !important;
}

.search-btn {
    border: 1px solid rgb(0, 238, 255) !important;
    color: rgb(0, 238, 255) !important;
    background-color: transparent;
    transition: all 0.3s ease;
}

.search-btn:hover {
    background-color: rgb(0, 238, 255);
    color: black !important;
}
/* End Header */




/* ================= Start Home Section ================= */
.hero-section{
    background-color: #081b29;
    /* min-height: 100vh; */
    color: white;
}

.hero-section .row{
    min-height: 100vh;
}

.hero-content h1{
    font-weight: 400;
    font-size: 65px;
    font-weight: 600;
}

.hero-content h3{
    font-weight: 400;
    font-size: 35px;
    font-weight: 500;
    padding-top: 20px;
}

.hero-content h3 span{
    color: rgb(0, 238, 255);
    font-weight: 400;
    font-size: 30px;    
}

.hero-content p{
    font-weight: 400;
    font-size: 25px;
}



.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-body{
    width: 85%;
    /* margin: auto; */
  }
  
  /* outer border with gap inside */
  .image-border {
    padding: 10px; 
    background-color: rgb(0, 238, 255);
    border-radius: 50%;
    display: inline-block;
  }
  
  .rounded-image {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    padding: 8px;
  }
  
  .rounded-image {
    /* width: 400px;
    height: 400px; */
    object-fit: cover;
    border-radius: 50%;
    display: block;
    box-shadow: 0 0 0 7px rgb(0, 238, 255);
  }

/* social icons */
.home-social {
    display: flex;
    margin: 20px 0;
}

.home-social a {
    display: flex;
    font-size: 20px;
    margin: 0 10px;
    color: #0ef;
    transition: 0.5s ease;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    background: transparent;
    text-decoration: none;
    box-shadow: 0 0 0 2px #0ef;
}

.home-social a:hover {
    background: #0ef;
    color: #1f242d;
    box-shadow: 0 0 5px #0ef, 0 0 2px #0ef, 0 0 8px #0ef;
}
/* ================= End Home Section ================= */
  


  